
form {
  display: flex;
  flex-direction: column;
  gap: 15px; 
}

.form-row {
  display: flex;
  justify-content: space-between; 
  gap: 20px; 
}

.student-name, .student-grade {
  flex: 1; 
}

mat-radio-group, mat-checkbox {
  margin-top: 10px;
}

.submit-btn {
  display: flex;
  justify-content: center; 
  margin-top: 20px;
}
